.add-button {
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover {
    fill: #d50000;
}

image {
    cursor: pointer;
    transition: transform 0.2s ease;
}

image:hover {
    transform: translateY(-8px) ;
    
}