image {
    /* kay7wel l'cursor  l wahd l'pointer (l'id) mli katji fo9 l'image */
    cursor:pointer; 
    /* kay3tik wahd l'animation smooth */
    transition: transform 0.2s ease;
}

image:hover {
    /* mli katdir hover dakci kytla3 */
    transform: translateY(-8px) ;
    
}


/* --------------carta li f navida---------------------- */
/* Styling dial rating w position (r9m w position dial player) */
.rating-position {
    margin-bottom: 10px;           /* kay5li msafa mn lt7t dial 10px */
    margin-left: 20px;            /* kay5li msafa mn lisr dial 20px */
    gap: 5px;                     /* lmsafa mabin rating w position */
}

/* Styling dial position (GK, ST, CB...) */
.position {
    font-size: 22px;              /* 7jm l7rof dial position */
    color: #2b2b2b;              /* lon l7rof (gris fga7mi) */
    margin-left: 5px;            /* msafa mn lisr */
}

/* Styling dial nationality (3lam w logo dial club) */
.nationality {
    display: flex; /* bach dir les elements f ligne */
    flex-direction: column; /* kay7t les elements wa7d fo9 la5or */
    margin-left: 57px;  /* msafa mn lisr */
    margin-top: 12px;   /* msafa mn lfo9 */
    gap: 10px;   /* lmsafa mabin l3lam w logo dial club */
}

/* Styling dial stats (PAC, SHO, PAS, ...) */
.stats {
    display: grid;  /* kn5dmo b grid bach nrtbo les stats */
    grid-template-columns: repeat(2, 1fr);/* kay9sm l'grid l 2 columns mtsawin */
    gap: 8px;/* lmsafa mabin les stats */
    padding: 0 35px; /* padding mn limn o lisr */
}

/* Styling dial modal (nafida li katban mli kt5tar player) */
.modal-content {
    background-color: #1a1a1a; /* lon l5lfiya (k7l m3tm) */
    width: 90%;   /* l3rd dyalha 90% mn lpage */
    height: 80vh;/* tol dyalha 80% mn viewport height */
}


/* Animation dial image mli ktji fo9ha b souris */
svg image:hover {
    opacity: 0.8; /* transparency dial image mli ktji fo9ha */
}

