@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

  body{
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
    color: #1E1E1E;
    background-color: #CDCDCD;
    background-image:
    /* Kay3ml grid vertical: khotot b space 150px binathom */
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    /* Bhal l'layer 1 walakin horizontal */
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    /* Khawi, walakin ymkn lik tzid fih chi background image */
    linear-gradient(to right,#00ffbbcc, #0d342cea),
    url();
} 
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .nav-links :hover{
    color: #04bc88cc;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
  }

  