@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

  body{
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
    color: #1E1E1E;
    background-color: #CDCDCD;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right,#253f38cc, #2c7062ea),
    url();
} 
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a1a1a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Poppins', sans-serif;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .nav-links :hover{
    color: #04bc88cc;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .burger {
        display: block;
        z-index: 999;
    }

    .nav-links {
        position: fixed;
        right: -100%;
        top: 70px;
        height: calc(100vh - 70px);
        background-color: #1a1a1a;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transition: 0.5s;
        padding: 2rem 0;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        opacity: 0;
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  /* Animation dyal links */
  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

  