/* font smyto "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  min-height: 100vh;/* Lpage ghadi takhod 100% mn height dyal screen */
  margin: 0;   /* Kay7iyed ay space mn berra l-page */
  font-family: Poppins; /* Font li ghadi ytkhdm f page kamla */
  color: #1E1E1E;/* Lon l-ktaba (9rib l-k7el) */  
  /* Hna gradient dyalna: */
  background: linear-gradient(to right, #00ffbb, #054232, #041714);
}
  
  .navbar {
    display: flex;/* Kaykhelli l-elements ytretbo b flexible way */
    justify-content: space-between;
    align-items: center;/* Kay7et l-elements f center verticalement */
    padding: 1rem 2rem; /* 1rem=16px */
    background-color: #1a1a1a;
    font-family: 'Poppins', ;
  }
  
  .logo img {
    /* Hna logo li ghadi takhod 50px mn height */
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  .nav-links :hover{
    color: #04bc88cc;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
  }

  